<mat-toolbar color="accent">
    <a 
    [routerLink]="'/'"
    mat-icon-button class="example-icon" 
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>ExamPortal</span>
    <span class="example-spacer"></span>
    <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
     mat-icon-button class="example-icon favorite-icon mr20"
     aria-label="Example icon-button with heart icon"
     >
     <h3>login</h3>
</a>
    
    <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'"
     mat-icon-button class="example-icon favorite-icon  "
     style="margin-right: 60px;"
     aria-label="Example icon-button with heart icon"
     >
     <h3>Register</h3>
</a>

<a
    (click)="logout()"
    *ngIf="isLoggedIn"
     mat-icon-button class="example-icon favorite-icon"
     style="margin-right: 60px;"
     aria-label="Example icon-button with heart icon"
     >
     <h3>logout</h3>
</a>

<button
    *ngIf="isLoggedIn && user"
    mat-button
    routerLink="/admin/profile"
     style="margin-right: 60px;"
     aria-label="Example icon-button with heart icon"
     >
     <h3> {{user.username}}</h3>
</button>

  </mat-toolbar>
  
  