<mat-card>
    <h1>Update Quiz </h1>
    <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md2">
          
            <form *ngIf="quiz" (ngSubmit)="updateQuiz()">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>name of quiz </mat-label>
                    <input 
                    [(ngModel)]="quiz.title"
                    type="text" 
                     name="title"
                      matInput>
                </mat-form-field>

                  <mat-form-field class="w100">
                    <mat-label> your description </mat-label>
                    <textarea
                    [(ngModel)]="quiz.description"
                     type="text"
                      name="description"
                      rows="5"
                     matInput></textarea>
                </mat-form-field>
             <div class="row">
              <div class="col-md-6">
                <!--  Question mark --> 
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Maximun Mark </mat-label>
                    <input
                    [(ngModel)]="quiz.maxMark"
                     type="number" 
                      name="MaxMark"
                       matInput>
                </mat-form-field>
              </div>
               <div class="col-md-6">
                  <!--  number Of Questions to  be show  --> 
                  <mat-form-field class="w100" appearance="fill">
                    <mat-label>nomber of questions  </mat-label>
                    <input
                    [(ngModel)]="quiz.numberOfQuestion"
                     type="number"
                    name="NumberOfQuestions"
                     matInput>
                </mat-form-field>
                
              </div>
            </div>
         <!--  Mat slide toggle  --> 
            <mat-slide-toggle  
            class="mt20"
            [(ngModel)]="quiz.active"
            color="primary"
            checked="false"
            name="active"
            >
          Publish Status
        </mat-slide-toggle>
        <mat-form-field appearance="fill" class=" mt10 w100">
            <mat-label>category </mat-label>
            <mat-select  name="category" [(ngModel)]="quiz.category.cid">
              <mat-option *ngFor="let c of categories" [value]="c?.cid" >
                {{c.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="container text-center">
            <button mat-raised-button color="accent">Add This Quizz</button>
          </div>
            </form>
        </div>
    </div>
    </div>
</mat-card>